#section-2 {
    padding: 30px 180px ;
    background-color: #ec80fd2b;
}

.section-2__info {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 50px 0px;
}

.title__pink {
    color: #ED80FD;
}

.section-2__info p {
    color: #454868;
}