h1 {
    text-align: center;
    line-height: 50px;
    font-family: Arial
    
}

.text__blue {
    color: blue;
    text-shadow: 0px 0px 40px blue;
}

.text__red {
    color: red;
    text-shadow: 0px 0px 40px red;
}